@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}
.user-info span {
    color: #e9e9e9; /* Um tom escuro de azul do logo */
}

.user-info {
    margin-top: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #598491;
    height: max-content;
    padding: 5px;
    gap: 5px
    
}
.logo {
    position: absolute;
    top: -20px;
    left: 15px;
    width: 110px;
    height: auto;
}
.btn-logout, .btn-login {
    background-color: #31a2ac; /* Um azul turquesa do logo */
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-logout:hover, .btn-login:hover {
    background-color: #0d3b66; /* Um tom mais escuro quando passa o mouse por cima */
}

#admin-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

#user-table, #doctor-table, #scheduling-table, #paciente-table, #imc-table {
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
}

th {
    background-color: #31a2ac; /* Azul turquesa para cabeçalho da tabela */
    color: white;
}

tr:hover {
    background-color: #e1e1e1; /* Um leve cinza para quando passa o mouse por cima das linhas */
}
/* Torna os botões transparentes por padrão */
.action-btn {
    opacity: 0;
    transition: opacity 0.3s;
}

/* Torna os botões opacos quando a linha da tabela está em hover */
tr:hover .action-btn {
    opacity: 1;
}

.new-user-btn, .new-doctor-btn, .new-scheduling-btn {
    background-color: #007bff; /* Azul */
    color: white;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #ffc107; /* Amarelo */
    color: black;
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn {
    background-color: #dc3545; /* Vermelho */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.modal {
    display: none; /* Oculto por padrão */
    position: fixed; /* Ficar fixo */
    z-index: 1; /* Ficar no topo */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilitar rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.4); /* Cor de fundo com opacidade */
}

.modal-content {
    background-color: #fefefe; /* Cor de fundo do conteúdo do modal */
    margin: 15% auto; /* Margem superior 15% e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do conteúdo do modal */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.close-button {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.flashes {
    list-style-type: none;
    padding: 0;
}

.flash-success {
    color: green;
    font-weight: bold;
}

.flash-error {
    color: red;
    font-weight: bold;
}

.flash-success strong {
    color: blue;
}
.agendamento form, #editSchedulingForm {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.container h1 {
    font-size: 26px;
    color: #066a75;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.form-left, .form-right {
    flex: 1;
    margin: 20px;
}

p {
    margin-bottom: 15px;
}

label {
    color: #405c60;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
select {
    width: 100%;
    padding-top: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
}

input[type="submit"] {
    width: 100%;
    cursor: pointer;
    background: #3d9db3;
    padding: 8px 5px;
    color: #fff;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.2s linear;
}

input[type="submit"]:hover {
    background: #4ab3c6;
}

.horarios-disponiveis {
    margin-top: 20px;
}

#horarios-container, #edit_horarios_container, #create_horarios_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.horario-box {
    padding: 10px;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear;
}

.horario-box:hover {
    background: #e1eaeb;
}

.horario-box.selected {
    background: #4ab3c6;
    color: #fff;
}
.horario-box.agendado  {
    background: #ffcccc;
    color: #a00;
    cursor: not-allowed;
}

.horario-box.unselectable {
    pointer-events: none;
}