.user-info span {
    color: #0d3b66; /* Um tom escuro de azul do logo */
}

.btn-logout, .btn-login {
    background-color: #31a2ac; /* Um azul turquesa do logo */
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-logout:hover, .btn-login:hover {
    background-color: #0d3b66; /* Um tom mais escuro quando passa o mouse por cima */
}

#admin-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

#user-table {
    width: 100%;
    border-collapse: collapse;
}

#user-table th, #user-table td {
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
}

#user-table th {
    background-color: #31a2ac; /* Azul turquesa para cabeçalho da tabela */
    color: white;
}

#user-table tr:hover {
    background-color: #e1e1e1; /* Um leve cinza para quando passa o mouse por cima das linhas */
}
/* Torna os botões transparentes por padrão */
.action-btn {
    opacity: 0;
    transition: opacity 0.3s;
    /* Restante do seu CSS */
}

/* Torna os botões opacos quando a linha da tabela está em hover */
tr:hover .action-btn {
    opacity: 1;
}

.new-user-btn {
    background-color: #007bff; /* Azul */
    color: white;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #ffc107; /* Amarelo */
    color: black;
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn {
    background-color: #dc3545; /* Vermelho */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
