<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ text.login_screen }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login_screen.css') }}">
</head>
<body>
    <div class="container">       
        <div class="content">      
            <!-- FORMULÁRIO DE LOGIN -->
            <div id="login">
                <form action="{{ url_for('admin_screen') }}"> <!-- Atualizado o action para admin_screen -->
                    <h1>{{ text.login_title }}</h1> 
                    <p> 
                        <label for="email_login">{{ text.email_label }}</label>
                        <input id="email_login" name="email_login" required="required" type="text" placeholder="{{ text.email_placeholder }}"/>
                    </p>
                    
                    <p> 
                        <label for="senha_login">{{ text.password_label }}</label>
                        <input id="senha_login" name="senha_login" required="required" type="password" placeholder="{{ text.password_placeholder }}" /> 
                    </p>
                    
                    <p> 
                        <input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
                        <label for="manterlogado">{{ text.remember_me }}</label>
                    </p>
                    
                    <p> 
                        <input type="submit" value="{{ text.login_button }}" /> 
                    </p>

                    <p class="link">
                        <a href="{{ url_for('recover_password') }}">{{ text.forgot_pwd }}</a>
                    </p>

                    <p class="link">
                        {{ text.no_account }} <a href="{{ url_for('create_account_screen') }}">{{ text.signup }}</a> 
                    </p>
                </form>
            </div>
        </div>
    </div> 
</body>
</html>
