<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ text.password_changed }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login_screen.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">      
            <!-- MENSAGEM DE SENHA ALTERADA COM SUCESSO -->
            <div id="password_changed">
                <h1>{{ text.password_sucess }}</h1> 
                
                <p>{{ text.password_sucess_descript }}</p>
                
                <p class="link">
                    <a href="{{ url_for('login_screen') }}">{{ text.back_to_login }}</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
