{% import 'flash_msg.html' as flash_msgs %}
<!DOCTYPE html>
<html lang="{{ session['language'] }}" data-session-cpf="{{ session.get('user', {}).get('cpf', '') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ text.adm_panel }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/language.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function showCrud(crudType) {
            // Atualiza a URL sem recarregar a página
            history.pushState(null, '', `?crud=${crudType}`);
            // Esconde todas as seções
            document.querySelectorAll('.crud-section').forEach(section => {
                section.style.display = 'none';
            });
            // Mostra apenas a seção correspondente
            document.getElementById(crudType).style.display = 'block';
        }

        window.addEventListener('DOMContentLoaded', (event) => {
            const params = new URLSearchParams(window.location.search);
            const currentCrud = params.get('crud') || 'usuarios';
            showCrud(currentCrud);
        });
    </script>
</head>
<body>
    {% include 'language.html' %}

    <img src="/static/img/sysadm_logo.png" alt="sysadm_logo" class="logo">

    <div class="user-info">
        {% if session.get('user') %}
            <span>{{ session['user'].get('nome', text.unknown_user) }} ({{ session['user'].get('email', text.email_not_available) }}) | </span><a href="/logout" class="btn-logout">{{ text.logout }}</a>
        {% else %}
            <span>{{ text.user_not_logged_in }}</span><a href="/" class="btn-login">{{ text.dologin }}</a>
        {% endif %}
    </div>

    <div class="crud-buttons" style="margin-top: 1em;">
        <button onclick="showCrud('usuarios')">{{ text.user_management }}</button>
        <button onclick="showCrud('medicos')">{{ text.doctor_management }}</button>
        <button onclick="showCrud('agendamentos')">{{ text.appointment_management }}</button>
        <button onclick="showCrud('pacientes')">{{ text.patient_management }}</button>
        <button onclick="showCrud('imcs')">IMCS</button>
    </div>

    <div id="admin-content">
        <div id="usuarios" class="crud-section" style="display: none;">
            {% include 'crudUsuarios.html' %}
        </div>
        <div id="medicos" class="crud-section" style="display: none;">
            {% include 'crudMedicos.html' %}
        </div>
        <div id="agendamentos" class="crud-section" style="display: none;">
            {% include 'crudAgendamentos.html' %}
        </div>
        <div id="pacientes" class="crud-section" style="display: none;">
            {% include 'crudPacientes.html' %}
        </div>
        <div id="imcs" class="crud-section" style="display: none;">
            {% include 'crudImcs.html' %}
        </div>
    </div>

    {{ flash_msgs.render_flash_messages() }}
</body>
</html>
