{% import 'flash_msg.html' as flash_msgs %}
<!DOCTYPE html>
<html lang="{{ session['language'] }}" data-session-cpf="{{ session['user'].get('cpf', '') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ text.adm_panel }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/language.css') }}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function showCrud(crudType) {
            document.querySelectorAll('.crud-section').forEach(section => {
                section.style.display = 'none';
            });
            document.getElementById(crudType).style.display = 'block';
        }
        window.addEventListener('DOMContentLoaded', (event) => {
            // Mostrar a seção padrão (usuarios) ao carregar a página
            showCrud('usuarios');
        });
    </script>
</head>
<body>
    {% include 'language.html' %}
    <img src="/static/img/sysadm_logo.png" alt="sysadm_logo" class="logo">

    <div class="user-info">
        {% if session.get('user') %}
            <span>{{ session['user'].get('nome', text.unknown_user) }} ({{ session['user'].get('email', text.email_not_available) }}) | </span><a href="/logout" class="btn-logout">{{ text.logout }}</a>
        {% else %}
            <span>{{ text.user_not_logged_in }}</span><a href="/" class="btn-login">{{ text.dologin }}</a>
        {% endif %}
    </div>

    <div class="crud-buttons">
        <button onclick="showCrud('usuarios')">USUARIOS (INSERIR INTERNACIONALIZAÇAO){{ text.user_management }}</button>
        <button onclick="showCrud('medicos')">USUARIOS (INSERIR INTERNACIONALIZAÇAO){{ text.doctor_management }}</button>
        <button onclick="showCrud('agendamentos')">USUARIOS (INSERIR INTERNACIONALIZAÇAO){{ text.appointment_management }}</button>
    </div>

    <div id="admin-content">
        <div id="usuarios" class="crud-section" style="display: none;">
            {% include 'crudUsuarios.html' %}
        </div>
        <div id="medicos" class="crud-section" style="display: none;">
            {% include 'crudMedicos.html' %}
        </div>
        <div id="agendamentos" class="crud-section" style="display: none;">
            {% include 'crudAgendamentos.html' %}
        </div>
    </div>
</body>
</html>
