<!DOCTYPE html>
<html lang="{{ session['language'] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ text.change_password }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login_screen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/language.css') }}">

</head>
<body>
    {% include 'language.html' %}
    {% include "header.html" %}
    {% block content %}
    <div class="container">
        <div class="content">      
            <!-- FORMULÁRIO DE MUDANÇA DE SENHA -->
            <div id="change_password">
                <form method="post" action="{{ url_for('change_password', email=email) }}" onsubmit="return validarSenha()"> 
                    <h1>{{ text.change_password }}</h1> 
                    
                    <p> 
                        <label for="nova_senha">{{ text.new_password }}</label>
                        <input id="nova_senha" name="nova_senha" required="required" type="password" placeholder="{{ text.new_password_placeholder }}"/>
                    </p>

                    <p> 
                        <label for="confirma_senha">{{ text.confirm_new_password }}</label>
                        <input id="confirma_senha" name="confirma_senha" required="required" type="password" placeholder="{{ text.confirm_new_password_placeholder }}"/>
                    </p>      
              
                    <p> 
                        <input type="submit" value="{{ text.change_password_button }}"/> 
                    </p>
                    
                    <p class="link">
                        <a href="{{ url_for('login_screen') }}">{{ text.back_to_login }}</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Adicionando a função de validação de senha -->
    <script>
        function validarSenha() {
            var senha = document.getElementById("nova_senha").value;
            var confirmaSenha = document.getElementById("confirma_senha").value;

            if (senha != confirmaSenha) {
                alert("{{ text.passwords_do_not_match }}");
                return false;
            }
            return true;
        }
    </script>
    {% endblock %}
</body>
</html>
