{% import 'flash_msg.html' as flash_msgs %}
<!DOCTYPE html>
<html lang="{{ session['language'] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ text.signup_screen }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login_screen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/language.css') }}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>

    {% include 'language.html' %}
    {% include "header.html" %}
    {% block content %}
    <div class="container">
       
        <div class="content">      
            <!-- FORMULÁRIO DE CADASTRO -->
            <div id="cadastro">
                <form method="post" action="" onsubmit="return validarSenha()"> 
                    <h1>{{ text.signup_title }}</h1> 
                    
                    <p> 
                        <label for="nome_cad">{{ text.name_label }}</label>
                        <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="{{ text.name_placeholder }}" />
                    </p>
                    
                    <p> 
                        <label for="email_cad">{{ text.email_label }}</label>
                        <input id="email_cad" name="email_cad" required="required" type="email" placeholder="{{ text.email_placeholder }}"/> 
                    </p>

                    <p> 
                        <label for="data_nasc_cad">{{ text.dob_label }}</label>
                        <input id="data_nasc_cad" name="data_nasc_cad" required="required" type="date" placeholder="{{ text.dob_placeholder }}"/> 
                    </p>
                    
                    <p> 
                        <label for="cpf_cad">{{ text.cpf_label }}</label>
                        <input id="cpf_cad" name="cpf_cad" required="required" type="text" placeholder="{{ text.cpf_placeholder }}" pattern="\d{11}"/> 
                    </p>
                    
                    <p> 
                        <label for="senha_cad">{{ text.password_label }}</label>
                        <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="{{ text.password_placeholder }}"/>
                    </p>

                    <p> 
                        <label for="confirma_senha_cad">{{ text.confirm_password_label }}</label>
                        <input id="confirma_senha_cad" name="confirma_senha_cad" required="required" type="password" placeholder="{{ text.confirm_password_placeholder }}"/>
                    </p>      
              
                    <p> 
                        <input type="submit" value="{{ text.signup_button }}"/> 
                    </p>
                    
                    <p class="link">
                        {{ text.already_have_account }} <a href="{{ url_for('login_screen') }}">{{ text.login }}</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <script>
        function validarSenha() {
            var senha = document.getElementById("senha_cad").value;
            var confirmaSenha = document.getElementById("confirma_senha_cad").value;

            if (senha != confirmaSenha) {
                alert("As senhas digitadas não coincidem!");
                return false;
            }
            return true;
        }
    </script>
    {% endblock %}
    {{ flash_msgs.render_flash_messages() }}

</body>
</html>
