<div id="createPacienteModal" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal('createPacienteModal')">&times;</span>
        <h3>{{ text.create_new_paciente }}</h3>
        <form id="createPacienteForm">
            <label for="newPacienteCpf">{{ text.cpf }}</label>
            <input type="text" id="newPacienteCpf" name="cpf">
            <label for="newPacienteNome">{{ text.name }}</label>
            <input type="text" id="newPacienteNome" name="nome">
            <label for="newPacienteSexo">{{ text.sexo }}</label>
            <select id="newPacienteSexo" name="sexo">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
            <label for="newPacienteDataNasc">{{ text.date_of_birth }}</label>
            <input type="date" id="newPacienteDataNasc" name="dataNasc">
            <button type="button" onclick="submitNewPaciente()">{{ text.create }}</button>
        </form>
    </div>
</div>

<div id="editPacienteModal" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal('editPacienteModal')">&times;</span>
        <h3>{{ text.edit_paciente }}</h3>
        <form id="editPacienteForm">
            <input type="hidden" id="editPacienteId" name="id">
            <label for="editPacienteCpf">{{ text.cpf }}</label>
            <input type="text" id="editPacienteCpf" name="cpf" readonly>
            <label for="editPacienteNome">{{ text.name }}</label>
            <input type="text" id="editPacienteNome" name="nome">
            <label for="editPacienteSexo">{{ text.sexo }}</label>
            <select id="editPacienteSexo" name="sexo">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
            <label for="editPacienteDataNasc">{{ text.date_of_birth }}</label>
            <input type="date" id="editPacienteDataNasc" name="dataNasc">
            <button type="button" onclick="submitPacienteEdit()">{{ text.save_changes }}</button>
        </form>
    </div>
</div>

<div id="admin-content">
    <h2>{{ text.adm_panel }} - {{ text.patient_management }}</h2>
    <button onclick="showCreatePacienteModal()" class="new-user-btn">{{ text.new_registration }}</button>

    <table id="paciente-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>{{ text.cpf }}</th>
                <th>{{ text.name }}</th>
                <th>{{ text.sexo }}</th>
                <th>{{ text.date_of_birth }}</th>
                <th>{{ text.actions }}</th>
            </tr>
        </thead>
        <tbody>
            <!-- Os pacientes serão carregados aqui via JavaScript -->
        </tbody>
    </table>
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        fetch('/api/pacientes')
        .then(response => response.json())
        .then(data => {
            const tbody = document.querySelector('#paciente-table tbody');
            tbody.innerHTML = ''; // Limpar o corpo da tabela existente
            data.forEach(paciente => {
                const tr = document.createElement('tr');
                tr.setAttribute('data-id', paciente.id);
                tr.innerHTML = `
                    <td class="id">${paciente.id}</td>
                    <td class="cpf">${paciente.cpf}</td>
                    <td class="nome">${paciente.nome}</td>
                    <td class="sexo">${paciente.sexo}</td>
                    <td class="dataNasc">${paciente.dataNasc}</td>
                    <td class="actions">
                        <button onclick="editPaciente('${paciente.id}')" class="edit-btn action-btn">{{ text.edit }}</button>
                        <button onclick="deletePaciente('${paciente.id}')" class="delete-btn action-btn">{{ text.delete }}</button>
                    </td>
                `;
                tbody.appendChild(tr);
            });
        })
        .catch(error => console.error('Erro ao buscar dados:', error));
    });

    function editPaciente(id) {
        console.log('Editando paciente', id);
        const pacienteRow = document.querySelector(`#paciente-table tr[data-id="${id}"]`);
        if (!pacienteRow) {
            console.error('Linha do paciente não encontrada.');
            return;
        }

        console.log('Paciente encontrado:', pacienteRow);

        const id_paciente = pacienteRow.querySelector('.id').textContent;
        const cpf = pacienteRow.querySelector('.cpf').textContent;
        const nome = pacienteRow.querySelector('.nome').textContent;
        const sexo = pacienteRow.querySelector('.sexo').textContent;
        const dataNasc = pacienteRow.querySelector('.dataNasc').textContent;

        document.getElementById('editPacienteId').value = id_paciente;
        document.getElementById('editPacienteCpf').value = cpf;
        document.getElementById('editPacienteNome').value = nome;
        document.getElementById('editPacienteSexo').value = sexo;
        document.getElementById('editPacienteDataNasc').value = dataNasc;

        document.getElementById('editPacienteModal').style.display = 'block';
    }

    function submitPacienteEdit() {
        const id = document.getElementById('editPacienteId').value;
        const nome = document.getElementById('editPacienteNome').value;
        const sexo = document.getElementById('editPacienteSexo').value;
        const dataNasc = document.getElementById('editPacienteDataNasc').value;
        const cpf = document.getElementById('editPacienteCpf').value;

        fetch('/api/pacientes/atualizar/' + id, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ nome, sexo, dataNasc, cpf })
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(err => { throw err; });
            }
            return response.json();
        })
        .then(data => {
            swal(data.message, "", "success").then(() => {
                window.location.reload();
            });
        })
        .catch(error => {
            swal("Erro ao editar paciente", error.message, "error");
        });

        closeModal('editPacienteModal');
    }

    function deletePaciente(id) {
        swal({
            title: "{{ text.delete_confirmation_title }}",
            text: "{{ text.delete_confirmation_text }}",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                fetch('/api/pacientes/remover/' + id, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => {
                    if (response.ok) {
                        swal("Paciente removido com sucesso!", "", "success").then(() => {
                            window.location.reload();
                        });
                    } else if (response.status === 404) {
                        swal("Paciente não encontrado", "", "error");
                    } else {
                        return response.json().then(err => { throw err; });
                    }
                })
                .catch(error => {
                    console.error('Erro:', error);
                    swal("Erro ao paciente médico", error.message, "error");
                });
            }
        });
    }

    function submitNewPaciente() {
        const cpf = document.getElementById('newPacienteCpf').value;
        const nome = document.getElementById('newPacienteNome').value;
        const sexo = document.getElementById('newPacienteSexo').value;
        const dataNasc = document.getElementById('newPacienteDataNasc').value;

        fetch('/api/pacientes/cadastrar', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ cpf, nome, sexo, dataNasc })
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(err => { throw err; });
            }
            return response.json();
        })
        .then(data => {
            swal(data.message, "", "success").then(() => {
                window.location.reload();
            });
        })
        .catch(error => {
            swal("Falha ao criar paciente", error.message, "error");
        });

        closeModal('createPacienteModal');
    }


    function closeModal(modalId) {
        document.getElementById(modalId).style.display = 'none';
    }

    function showCreatePacienteModal() {
        document.getElementById('createPacienteModal').style.display = 'block';
    }
</script>
