{% import 'flash_msg.html' as flash_msgs %}
<!DOCTYPE html>
<html lang="{{ session['language'] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ text.forgot_pwd_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login_screen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/language.css') }}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>

    {% include "header.html" %}
    {% include 'language.html' %}

    {% block content %}
    <div class="container">       
        <div class="content">      
            <!-- FORMULÁRIO DE RECUPERAÇÃO DE SENHA -->
            <div id="password_recovery">
                <form method="post" action="{{ url_for('recover_password') }}"> 
                    <p> 
                        <label for="email_recovery">{{ text.email_label }}</label>
                        <input id="email_recovery" name="email_recovery" required="required" type="email" placeholder="{{ text.email_placeholder }}"/>
                    </p>
                    
                    <p> 
                        <label for="data_nasc_recovery">{{ text.dob_label }}</label>
                        <input id="data_nasc_recovery" name="data_nasc_recovery" required="required" type="date" placeholder="{{ text.dob_placeholder }}"/>
                    </p>
                
                    <p> 
                        <label for="cpf_recovery">{{ text.cpf_label }}</label>
                        <input id="cpf_recovery" name="cpf_recovery" required="required" type="text" placeholder="{{ text.cpf_placeholder }}"/>
                    </p>
                    
                    <p> 
                        <input type="submit" value="{{ text.recover_pwd_button }}" /> 
                    </p>
                
                    <p class="link">
                        <a href="{{ url_for('login_screen') }}">{{ text.back_to_login }}</a>
                    </p>
                </form>
                
            </div>
        </div>
    </div> 
    {% endblock %}
    {{ flash_msgs.render_flash_messages() }}

</body>
</html>
